<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>Simulate Events: the Automatic API Demo App</title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen">

  <meta name="description" content="A Demo app using the Automatic API">
</head>
<body>
  <div class="github-fork-ribbon-wrapper">
    <div class="github-fork-ribbon">
      <a href="https://github.com/Automatic/automaticator">Fork me on GitHub</a>
    </div>
  </div>
  <div id="wrapper">
    <div class="titlebar">
      <h1>Automaticator</h1>
      <div class="tagline">The Automatic API Demo App</div>
    </div>
    <nav id="topmenu" class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Map</a></li>
          <li><a href="/logs/">Logs</a></li>
          <li class="active"><a href="/simulate/">Simulate</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout/">Log Out</a></li>
        </ul>
      </div>
    </nav>
    <div id="content">
      <h2>Simulate Webhook Events</h2>
      <p><a href="/" target="_blank">Load the map</a> in a different tab to see events show up.</p>
      <div class="alert" id="alert"></div>
      <form id="simulate" class="form-inline" role="form">
        <h3>Select Event</h3>
        <div class="form-group">
          <label class="sr-only" for="eventType">Event Type</label>
          <select class="form-control" name="eventType">
            <option value="trip:finished">Trip Finished</option>
            <option value="ignition:on">Ignition On</option>
            <option value="ignition:off">Ignition Off</option>
            <option value="notification:speeding">Speeding</option>
            <option value="notification:hard_brake">Hard Brake</option>
            <option value="notification:hard_accel">Hard Acceleration</option>
            <option value="mil:on">Check engine light came on</option>
            <option value="mil:off">Check engine light turned off</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Simulate</button>
      </form>
    </div>
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <script src="/javascripts/simulate.js"></script>

</body>
</html>
